*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex{
  display: flex;
  height: 100vh;
}

.asideimage {
  max-width: 20%
}

.rowbar{
  display: flex;
  justify-content: space-around;
  padding: 10px 90px 10px 90px;
}

.rowalbum{
  display: flex;
}

.columnalbum{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imagealbum{
  max-width: 80%;
}

/************************************ ASIDE ***********************************/
aside{
  background-color: black;
  width: calc(100% - 80vw);
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li img{
  max-width: 20%;
}

#creaplay{
  display: flex;
  align-items: center;
}

#creaplay img{
  max-width: 150%;
}

/********************************** MAIN *************************************/
main{
  background-color: lightgrey;
  width: 100vw;
}

#upgrade{
  display: flex;
  justify-content: flex-end;
  border: 2px solid red;
}




/************************************ SECTION *********************************/
section{
  position: fixed;
  bottom: 0;
  background-color: darkgrey;
  height: calc(100vh - 90vh);
  width: 100%;
}
