/* regole pagina generali ***************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
}

h1, h2, h3, h4, h5{
  color: white;
}

h6, p{
  color: rgba(255, 255, 255, 0.4);
}

/* contenitore generale */
.container-flex{
  display: flex;
  height: 100vh;
}


/* Classi o sezioni specifiche *****************************************/

/* riga nav centrale della pagina main */
.rowbar{
  display: flex;
  justify-content: space-around;
  padding: 10px 90px 10px 90px;
}

/* disporre elementi in flex row */
.rowalbum{
  display: flex;
}

/* disporre elementi in column flex-start */
.columnflex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* disporre elementi in column flex-center */
.columncenter{
  display: flex;
  flex-direction: column;
}

/* disporre gli elementi al centro */
.centerflex{
  display: flex;
  justify-content: center;
}

/* colonna degli album */
.columnalbum{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* immagini degli album */
.imagealbum{
  width: 100px;
}

/* immagine del logo */

.imagelogo{
  width: 145px;
  padding-bottom: 10px;
}

/************************************ ASIDE ***********************************/
aside{
  background-color: black;
  width: 250px;
  padding: 25px;
  height: 90vh;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

ul li img{
  width: 35px;
  padding-right: 7px;
}

#titoloplaylist{
  margin: 15px 0 15px 0;
}

#creaplay{
  display: flex;
  align-items: center;
  margin: 10px;
}

.pulsantecrea{
  width: 37px;
  height: 37px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  text-align: center;
  line-height: 37px;
  color: black;
}

#installapp{
  border-bottom: 1px solid;
}

/********************************** MAIN *************************************/
main{
  background: #141922;
  width: 100vw;
  padding: 25px;
}

#upgrade{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
}

/************************************ SECTION *********************************/
section{
  position: fixed;
  bottom: 0;
  padding: 25px;
  background: #282828;
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
